.mt10{
    margin-top:10px;
}
.ml20{
    margin-left:20px;
}
.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../../assets/test.png');
    background-size: cover;
  }
  .mat-success{
    background-color: green;
    color: #fff;
  }