<div class="bootstrap-wrapper">
    <br>
    <div class="container-fluid ">
        <div class="row " *ngIf="quizzes">
            <div class="col-md-4 mt-5" *ngFor="let q of quizzes">



                <mat-card class="mt10 ml20">

                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title> {{q.title}} </mat-card-title>
                        <mat-card-subtitle> {{ q.category.title }} </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                        <p>{{q.description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button color="success" [routerLink]="'/normal-user/instructions/'+q.qid">
                            Start</button>
                        <button mat-button color="grey">Result</button>
                        <button mat-button color="primary">Qns: {{q.numberOfQuestions}}</button>
                        <button mat-button color="primary">Max-M:{{q.maxMarks}}</button>
                    </mat-card-actions>

                </mat-card>

            </div>
        </div>
    </div>
</div>



<div class="container text-center">
    <mat-card *ngIf="quizzesLength == 0" class="mt20">
        <h1>Quiz is not available in this Test</h1>

    </mat-card>
</div>