
 <div class="bootstrap-wrapper">
       <div class="container-fluid">
             <div class="row">
                   <div class="col-md3">
                        <!--Side bar-->
                        <normal-app-sidebar></normal-app-sidebar>
                
                    </div> 
                             
                    <div class="col-md-9">
                            <!--Content-->
                           
                            <router-outlet></router-outlet>
                 
                     </div>
                
                 </div>
         </div>
 </div>