.example-spacer {
    flex: 1 1 auto;
  }
  .mr20{
      margin-right: 20px;
  }
  .mr40{
    margin-right: 40px;
}
  .ml20{
      margin-left: 20px;
  }
  .ml40{
    margin-left: 40px;
}
.logo-container {
  position: fixed;
  z-index: 100;
}